// @use "../variables-sass/variables";
@use "../variables-sass/variables" as *;



@mixin prueba {
    width: 90%;
    max-width: 1300px;
    background-color: $fondo-tarjeta;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}