@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import '../../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
$primary: hsl(220, 98%, 61%);
$secondary: #073b4c;
$success: #06d6a0;
$warning: #ffd166;
$danger: #ef476f;
$info: #dab6fc;
$dark: #303030; 
$light: hsl(236, 9%, 61%);
$font-family-base: 'Josefin Sans', sans-serif;
$headings-font-weight: 700;
$background: linear-gradient(to left, hsla(192, 100%, 67%, 0.3) , hsla(280, 87%, 65%, 0.5));
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
.background {
  height: 300px; 
  z-index: -1; 
  background: $background, url('../../assets/img/bg-desktop-light.jpg') center top;  
  background-size: cover;
}
h1 {
  letter-spacing: 4px;
}
.icon {
  cursor: pointer;
  position: relative;
  top: 2px;    
}
.filter {
  cursor: pointer;
}
